:root{
    /* primario */
    /* texto */
        --very-dark-desaturated-blue: hsl(238, 29%, 16%);
        --soft-red: hsl(14, 88%, 65%);

        /* gradiente */
        --Soft-violet: hsl(273, 75%, 66%);
        --Soft-blue: hsl(240, 73%, 65%);

        /* text */
        --Very-dark-grayish-blue: hsl(237, 12%, 33%);
        --Dark-grayish-blue: hsl(240, 6%, 50%);

        --Light-grayish-blue: hsl(240, 5%, 91%);
}

body{
    background-color: var(--Soft-violet);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contenedor{
    background-color: var(--Light-grayish-blue);
    width: 900px;
    margin: auto;
    height: 350px;
    display: flex;
    position: relative;
    padding: 50px 50px 50px 0;
    /* overflow: hidden;!pendiente de checar */
    border-radius: 20px;
}

.imagen{
    width: 50%;
    /* overflow: hidden; */
    position: relative;
   overflow: hidden;
   
}
.img-header{
    /* position: absolute; */
    position: absolute;
    /* left: -80px;
    top: 15%; */
    left: -80px;
    top: 8px;
    height: 90%;
}

.caja{
    position: absolute;
    top: 210px;
    left: -130px;
}

.lista{
    width: 450px;
}